<body class="bg-dark text-white">
<center>
<div class="bg-info text-dark ">
<br>
<h2 class="fw-bold fs-1">Accedi</h2>
<br>
</div>
<br>
<br>
<br>
<br>
<div class="container col-4">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h5><%= f.label :email %><br /></h5>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder:'Email' %>
  </div>
<br>
  <div class="field">
    <h5><%= f.label :password %><br /><h5>
    <%= f.password_field :password, autocomplete: "current-password", class:'form-control', placeholder:'Password' %>
  </div>
<br>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Rimani collegato' %>
    </div>
  <% end %>
<br>
  <div class="actions">
    <%= f.submit "Accedi", class:'btn btn-light ' %>
  </div>
<% end %>


</div>





<div class="bg-info fixed-bottom">
<br>
<%= render "devise/shared/links" %>
<br>
</div


</center>