<body class="bg-dark text-white">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div id="pdfpreventivo">

<%= form_with(model: fatture) do |form| %>
  <% if fatture.errors.any? %>
    <div id="error_explanation">

      

      <div class="alert alert-danger" role="alert">

        <% fatture.errors.each do |error| %>
          <%= error.full_message %></li>
        <% end %>
        
      </div>
        
      
    </div>
  <% end %>
  <center>


  
  <%= image_tag "paginainserimento.png", class:'w-100' %>
  <br>


  
<div class="container">
<br>
<center>
<%= link_to 'Visualizza tutti i preventivi', fattures_path, class:'btn btn-info w-100 fw-bold btn-lg' %>
</center>
</div>
  <hr>
  <br>

  <div class="container">
  <div class="col-12">
    <div class="field">
   
    <label for="formGroupExampleInput" class="form-label"><b style="font-size: 18px">Spettabile</b></label>
    <%= form.text_field :spettabile, class:'form-control', placeholder:'Spettabile' %>
   
  </div>
  </div>

  <br>





  <div class="field">
  <label for="formGroupExampleInput" class="form-label"><b style="font-size: 18px">Nome Lavoro</b></label>
    <%= form.text_field :nomelavoro, class:'form-control', placeholder:'Nome Lavoro' %>
  </div>

<br>

  <div class="field">
  <label for="formGroupExampleInput" class="form-label"><b style="font-size: 18px">Iva</b></label>
    <%= form.number_field :iva, class:'form-control', placeholder:'Iva', value:'22' %>
  </div>





 <br>


 

  











<br>









<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  ARTICOLO 1
</a>
</p>
<div class="collapse" id="collapseExample">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>




<br>


<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
  ARTICOLO 2
</a>
</p>
<div class="collapse" id="collapseExample1">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione2, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita2, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo2, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>

<br>

<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
  ARTICOLO 3
</a>
</p>
<div class="collapse" id="collapseExample2">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione3, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita3, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo3, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>



<br>

<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
  ARTICOLO 4
</a>
</p>
<div class="collapse" id="collapseExample3">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione4, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita4, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo4, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>


<br>

<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
  ARTICOLO 5
</a>
</p>
<div class="collapse" id="collapseExample4">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione5, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita5, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo5, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>




<br>

<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
  ARTICOLO 6
</a>
</p>
<div class="collapse" id="collapseExample5">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione6, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita6, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo6, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>




<br>

<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
  ARTICOLO 7
</a>
</p>
<div class="collapse" id="collapseExample6">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione7, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita7, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo7, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>


<br>

<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7">
  ARTICOLO 8
</a>
</p>
<div class="collapse" id="collapseExample7">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione8, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita8, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo8, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>




<br>

<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample8">
  ARTICOLO 9
</a>
</p>
<div class="collapse" id="collapseExample8">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione9, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita9, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo9, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>

<br>

<p>
<a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample9">
  ARTICOLO 10
</a>
</p>
<div class="collapse" id="collapseExample9">
<div class="card card-body text-white bg-dark border-light">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione10, class:'form-control', placeholder:'Descrizione' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita10, class:'form-control', placeholder:'Quantità' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo10, class:'form-control', placeholder:'Prezzo' %></div>
</div>
</div>
</div>










<br>




</center>
<br>
<br>








<center>
<div class="actions">
<div class="container-fluid">
<%= form.submit 'Crea', class:'w-100 btn btn-primary fw-bold w-100 fixed-bottom' %>
</div>
</div>
</center>




<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
