<div id="pdfpreventivo">

<%= form_with(model: fatture) do |form| %>
  <% if fatture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fatture.errors.count, "error") %> prohibited this fatture from being saved:</h2>

      <ul>
        <% fatture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <center>


  
  <%= image_tag "paginainserimento.png", class:'w-100' %>
  <br>
<center>
<%= link_to 'Visualizza tutti i preventivi', fattures_path, class:'btn btn-warning w-100 fw-bold text-dark' %>
</center>

  <br>
  <br>

  <div class="container">
  <div class="col-12">
    <div class="field">
   
    <label for="formGroupExampleInput" class="form-label"><b style="font-size: 20px">Spettabile</b></label>
    <%= form.text_field :spettabile, class:'form-control', placeholder:'Spett.le' %>
   
  </div>
  </div>

  <br>



  <div class="field">
  <label for="formGroupExampleInput" class="form-label"><b style="font-size: 20px">Nome Lavoro</b></label>
    <%= form.text_field :nomelavoro, class:'form-control', placeholder:'N.Lavoro' %>
  </div>

<br>

  <div class="field">
  <label for="formGroupExampleInput" class="form-label"><b style="font-size: 20px">Iva</b></label>
    <%= form.number_field :iva, class:'form-control', placeholder:'Iva' %>
  </div>

 <br>


 

  



 





<p>
<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  ARTICOLO 1
</a>
</p>
<div class="collapse" id="collapseExample">
<div class="card card-body">
<div class="row">
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Descrizione</b></label><br>
    <%= form.text_field :descrizione, class:'form-control' %></div>
<div class="col-sm">
    <label for="formGroupExampleInput" class="form-label"><b>Quantità</b></label><br>
    <%= form.number_field :quantita, class:'form-control' %>
</div>
<div class="col-sm">

    <label for="formGroupExampleInput" class="form-label"><b>Prezzo</b></label><br>
    <%= form.text_field :prezzo, class:'form-control' %></div>
</div>
</div>
</div>
</div>





<br>



<div class="actions">
<div class="container-fluid">
<%= form.submit 'Invia', class:'w-100' %>
</div>
</div>
</center>
<br>
<br>

<% end %>





