<body class="bg-dark">

<%= image_tag 'tuttipreventivi.png', class:'w-100' %>


<div class="container">
<br>
<%= link_to 'Nuova Fattura', new_fatture_path, class:'btn btn-info w-100 fw-bold btn-lg' %>
</div>

<br>

<table class="table table-dark table-striped ">
  <thead table-bordered border-light>
    <tr >
      <th></th>
      <th>Spettabile</th>
      <th>Nomelavoro</th>
      <th>Iva</th>
      <th>Descrizione</th>
      <th>Quantita</th>
      <th>Prezzo</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @fattures.each do |fatture| %>
      <tr >
        <td></td>
        <td><%= fatture.spettabile %></td>
        <td><%= fatture.nomelavoro %></td>
        <td><%= fatture.iva %>%</td>
        <td><%= fatture.descrizione %></td>
        <td><%= fatture.quantita %></td>
        <td><%= fatture.prezzo %>€</td>
        <td><%= link_to 'Guarda', fatture, class:'btn btn-primary' %></td>
        <td><%= link_to 'Modifica', edit_fatture_path(fatture) ,class:'btn btn-warning' %></td>
        <td><%= link_to 'Elimina', fatture, method: :delete, data: { confirm: 'Sei sicuro?'}, class:'btn btn-danger' %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>

<center>
<%= link_to "Esci", destroy_user_session_path, method: :delete, class:'btn btn-danger fw-bold w-100 fixed-bottom' %>
</center>


